{% extends 'base.html.twig' %} {% block title %}Welcome {% if app.user %} {{ app.user.username}} {% else %} to my blog !!{% endif %} {% endblock %} {% block body %}
<div class="row mt-5 mb-2">
    <h1 class="col-12 text-center text-info font-weight-bold text-uppercase">My Blog - All Posts :</h1>
</div>
<div class="row">
    {% for post in posts %}
    <div class="card col-10 col-md-5 col-lg-3 border border-3 border-info mb-2 mx-auto">
        <img src="{{ post.imgPath }}" class="card-img-top img-thumbnail d-none d-lg-block">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle">{{ post.author.username }}</h6>
            <p class="card-text d-none d-lg-block ">{{ post.content[:50] ~ '...' }}</p>
            <a href="{{ path('post_by_id', {id: post.id})}}" class="btn btn-primary">See The post</a>
        </div>
    </div>
    {% endfor %}
</div> {% endblock %}