{% extends 'base.html.twig' %} {% block title %}Post{% endblock %} {% block body %}
<h1>Post Details</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <img src="{{ post.imgPath }}" class="img-fluid" alt="Responsive image">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead"> By {{ post.author.username }}</p>
        <hr class="my-4">
        <p>{{ post.content }}</p>
    </div>
    <a href="{{ path('post')}}" class="btn btn-primary float-right">Back to list</a>
</div>

{% endblock %}