{% extends 'base.html.twig' %} {% block title %}My Posts{% endblock %} {% block body %}
<h1 class="row mt-3">My Posts</h1>
<div class="row mx-3">

    {% for post in app.user.posts %}
    <div class="card col-12 border border-info mx-3">
        <img src="{{ post.imgPath }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle">{{ post.author.username }}</h6>
            <p class="card-text">{{ post.content[:150] ~ '...' }}</p>
            <a href="{{ path('post_by_id', {id: post.id})}}" class="btn btn-primary">See The post</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}