{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} {% block body %} {% if errors %}
<div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}
<div class="row mb-3">
    <h3 class="col-12 text-center text-uppercase">Log in please :</h3>
</div>
<div class="row justify-content-center mt-3">
    <form class="form-inline col-8" action="{{path('login')}}" method="post">
        <div class="form-group mb-2">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control text-center" name="_username" id="email" placeholder="email@example.com">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control text-center" name="_password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mx-auto col-6 ">Login</button>
    </form>
</div>


{% endblock %}