{% extends "base.html.twig" %} {% block title %} Register {% endblock title %} {% block body %}
<div class="row mt-5">
    <h3 class="col-12 text-center text-uppercase">Registration form :</h3>

</div>
<div class="row justify-content-center mt-3">
    <form class="form-inline col-8 mx-auto">
        {{form_start(form)}} {{form_widget(form)}}
        <button class="btn btn-primary">Register</button> {{form_end(form)}}</form>
</div>
</div>
{% endblock body %}